
ARCHIVE/
ARCHIVED

.dropbox
.directory
.gitignore
.Rhistory
.RData
.Rproj

cache/*
figure/*
.Rproj.user/*

products.txt
rubber.cache
VERSION.txt

image/*.eps

*.aux
*.backup
*.bbl
*.blg
*.desktop
*.gz
*.hd
*.html
*.idx
*.ilg
*ind
*.ins
*.kilepr
*.log
*.loi
*.nav
*.out
*.pdf
*.pyc
*.reading
*.snm
*.talk
*.toc
*.vrb

*.pdf
